#h1-heading {
  text-align: center;
  padding: 20px;
}

.row {
  padding-top: 30px;
  padding-left: 10px;
  width: 100%;
}

#div-row {
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}

#left-column {
  margin-left: 5px;
}

.col {
  margin-left: 10px;
}

.col-3 {
  text-align: center;
  width: 100%;
}

#searchbar {
  margin-left: 15%;
}

.col-9 {
  text-align: center;
  width: 100%;
}

h2 {
  padding-bottom: 20px;

  div [class*="flex-fill"] {
    max-width: 25%;
  }

#cards-container{
  display: flex;
}